@media(min-width: 767px){
	.m1-tab{
		.lakit-tabs__control-inner {
			position: relative;
		}
		.lakit-tabs__control{
			&:not(:nth-last-child(2)){
				.lakit-tabs__label-text:before {
					content: '';
					position: absolute;
					right: 0;
					height: .45em;
					top: .3em;
					background-color: var(--theme-three-color);
					width: 1px;
				}
			}
		}
	}
}

.baker-pricingtable{
	&,
	.lakit-pricing-table,
	.elementor-widget-container{
		height: 100%;
	}
	.lakit-pricing-table{
		transition: all .3s;
		&:hover{
			transform: translateY(-20px);
		}
	}
	.lakit-pricing-table__heading {
		position: relative;
		width: 74%;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 100%;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-right: 35px solid #fff;
		}
	}
	.lakit-pricing-table__price{
		-webkit-mask-image: url("assets/images/path.svg");
		mask-image: url("assets/images/path.svg");
		margin-top: auto;
	}
	.lakit-pricing-table__action{
		z-index: 1;
	}
}
.baker-imgbox {
	.elementor-button {
		position: relative;
		&:after {
			content: '';
			border-bottom: 2px solid;
			display: block;
			width: 20px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: width .3s;
		}
	}
	&:hover{
		.elementor-button {
			&:after{
				width: 100%;
			}
		}
	}
}

.wpcf7 .lakit-row .ajax-loader {
	position: absolute;
	margin: 0;
	margin-top: 20px;
}
.wpcf7 .wpcf7-not-valid-tip {
	font-size: .875em;
}

.product_desc-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.product_desc-img {
	width: 45%;
}

.product_desc-desc {
	width: 38%;
	margin-right: 5%;
	color: $three-color;
	@media(max-width: 1200px){
		width: 45%;
		margin-right: 0;
	}
	@media(max-width: 880px){
		width: 48%;
	}
}

.product_desc-row h3 {
	font-family: inherit;
	font-size: var(--theme-h1-font-size);
	font-weight: 500;
	@media(max-width: 1200px){
		font-size: 26px;
	}
}

@media(max-width: 767px){
	.product_desc-desc,
	.product_desc-img{
		width: 100%;
		margin-bottom: 30px;
	}
	.product_desc-row h3{
		font-size: 20px;
	}
}