:root{
	--theme-body-bg-color: #{$color-1};
	--theme-border-color: #dedede;
	--theme-selection-bg-color: #{$color-7};
	--theme-selection-font-color: #{$color-1};
	--theme-primary-color: #{$color-5};
	--theme-secondary-color: #{$color-2};
	--theme-three-color: #858585;
	--theme-body-font-color: #555;
	--theme-heading-font-color: #{$color-2};
	--theme-link-color: #{$color-2};
	--theme-link-hover-color: #{$color-5};
	--header-height: 110px;
	--footer-height: 0px;
	--theme-body-font-size: 16px;
	--theme-body-line-height: #{$base-line-height};
	--theme-h1-font-size: 36px;
	--theme-h2-font-size: 32px;
	--theme-h3-font-size: 28px;
	--theme-h4-font-size: 24px;
	--theme-h5-font-size: 22px;
	--theme-h6-font-size: 20px;
	--theme-body-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--theme-heading-font-family: 'Montaga', sans-serif;
	--theme-three-font-family: 'Montaga', sans-serif;
	--theme-heading-font-weight: 400;
	--theme-three-font-weight: 400;
	--theme-header-vertical-width: 370px;
	--theme-header-vertical-width-small: 370px;
	--theme-container-width: 1170px;
	--theme-sidebar-width: 320px;
	--theme-sidebar-space: 50px;
	--theme-wc-single-main-image-width: 50%;
	--scrollbar-width: 0px;
	--scrollbar-width-o: 0px;
	--theme-boxed-width: 1230px;
	--theme-newsletter-popup-width: 790px;
	--theme-newsletter-popup-height: 430px;
	--item_info: 100px;
	--adminbar-height: 0;
	--theme-heading-font-color: #272727;
	--theme-heading-font-weight: 500;
	--theme-heading-font-family: 'Rubik', sans-serif;
	--theme-heading-font-style: inherit;
	--theme-heading-font-line-height: 1.2;
	--theme-heading-font-spacing: 0;
	--theme-heading-font-align: inherit;
}

@media(max-width: $screen-sm-max){
	:root{
		--theme-h1-font-size: 32px;
		--theme-h2-font-size: 26px;
		--theme-h3-font-size: 24px;
		--theme-h4-font-size: 22px;
	}
}

@media(max-width: $screen-xs-max){
	:root{
		--theme-h1-font-size: 26px;
		--theme-h2-font-size: 22px;
		--theme-h3-font-size: 20px;
		--theme-h4-font-size: 18px;
		--theme-h5-font-size: 16px;
		--theme-h6-font-size: 16px;
		--theme-container-width: 100%;
	}
}

/**
 * Selection Color.
 */
::selection {
	color: #fff;
	background-color: $primary-color;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background-color: $primary-color;
	text-shadow: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

blockquote, q {
	quotes: none
}

a:focus {
	outline: none
}

a:hover, a:active {
	outline: 0
}

a img {
	border: 0
}

img {
	max-width: 100%;
	height: auto;
}

select {
	max-width: 100%
}

em {
	font-style: italic;
}

.hidden {
	display: none !important;
}

* html {
	font-size: 100% * ( $font-size / $browser-font-size );
}

body {

	font-family: $body-font-family;
	font-size: var(--theme-body-font-size);
	line-height: var(--theme-body-line-height);
	color: $body-font-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	word-wrap: break-word;
	background-color: $body-bg-color;

	&,
	.lastudio-kit{

		--lakit-primary-color: var(--theme-primary-color);
		--lakit-pagination-link-hover-bg-color: var(--theme-primary-color);
		--lakit-secondary-color: var(--theme-secondary-color);
		--lakit-body-color: var(--theme-body-font-color);
		--lakit-border-color: var(--theme-border-color);
		--lakit-three-color: var(--theme-three-color);
	}

}


.mejs-container {
    margin-bottom: 20px;
}

.figure__object_fit {
	position: relative;
	overflow: hidden;
	width: 100%;
	img {
		width: 100%;
		object-fit: cover;
		.active-object-fit & {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&.custom-object-fit {
		background-size: cover;
		background-position: top center;
		img {
			opacity: 0 !important;
		}
	}
}

/**
 * Grid > Main Classes.
 */

.container {
	@include container-fixed();
	max-width: 96%;
	width: var(--theme-container-width, 1170px);
	@media(max-width: $screen-xs-max){
		width: 100%;
		max-width: calc( 100% - 40px );
	}
}

.lakit-row {
	--bs-row-gap: 30px;
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(var(--bs-row-gap) * -.5);
	margin-left: calc(var(--bs-row-gap) * -.5);
	&.gap-20{
		--bs-row-gap: 20px;
	}
	&.gap-10{
		--bs-row-gap: 10px;
	}
	&.gap-14{
		--bs-row-gap: 14px;
	}
	&.gap-0{
		--bs-row-gap: 0;
	}
	>*{
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-row-gap) * .5);
		padding-left: calc(var(--bs-row-gap) * .5);
	}
}
.lakit-col{
	flex: 1 0 0;
	@media(max-width: 767px){
		flex: 1 0 100%;
		width: 100%;
	}
}

.la-overlay-global {
	position: fixed;
	background: #232324;
	z-index: 9;
	visibility: hidden;
	opacity: 0;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	transition: all 250ms ease-out;
}

.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 14px;
	width: 6em;
	font-family: "LaStudioIcons";
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #B3BDBC;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: .2em;

	&::before {
		content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	> span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		color: #F5A623;
		&:before {
			content: "\ea5e\ea5e\ea5e\ea5e\ea5e";
			top: 0;
			position: absolute;
			left: 0;
		}
	}
}