.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clear {
	clear: both;
}
.text-color-primary {
	color: $primary-color;
}
.text-color-secondary {
	color: $secondary-color;
}
.text-color-body {
	color: $body-font-color;
}
.text-color-three {
	color: $three-color;
}
.has-bakerfresh-theme-primary-color {
	color: $primary-color
}
.has-bakerfresh-theme-secondary-color {
	color: $secondary-color
}
.has-strong-magenta-color {
	color: #a156b4
}
.has-light-grayish-magenta-color {
	color: #d0a5db
}
.has-very-light-gray-color {
	color: #eee
}
.has-very-dark-gray-color {
	color: #444
}
.has-bakerfresh-theme-primary-background-color {
	background-color: $primary-color
}
.has-bakerfresh-theme-secondary-background-color {
	background-color: $secondary-color
}
.has-strong-magenta-background-color {
	background-color: #a156b4
}
.has-light-grayish-magenta-background-color {
	background-color: #d0a5db
}
.has-very-light-gray-background-color {
	background-color: #eee
}
.has-very-dark-gray-background-color {
	background-color: #444
}
.wp-block-columns.no-gap .wp-block-column {
	margin: 0;
}
.page-content {
	a br {
		display: none;
	}
	> *.alignleft {
		margin-right: 1.5em;
	}
	> *.alignright {
		margin-left: 1.5em;
	}
	> .wp-caption.aligncenter img[class*="wp-image-"] {
		margin-left: auto;
		margin-right: auto;
	}
	> .wp-caption.alignleft {
		margin-right: .9em;
	}
	.post-password-form {
		label {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: bottom;
			margin-right: 6px;
			max-width: calc(100% - 110px);
		}
		input[type="submit"] {
			padding: 14px 30px;
			vertical-align: middle;
			line-height: 22px;
		}
	}
	blockquote.wp-block-quote.is-large {
		margin: 1.5em 0;
	}
	.wp-block-button {
		margin-bottom: 1.25em;
	}
	ul,
	dl,
	ol {
		li {
			margin-bottom: 8px;
		}
		ol,
		ul {
			margin-top: 8px;
		}
	}
	.blocks-gallery-grid .blocks-gallery-image,
	.blocks-gallery-grid .blocks-gallery-item,
	.wp-block-gallery .blocks-gallery-image,
	.wp-block-gallery .blocks-gallery-item {
		margin-bottom: 1em;
	}
}
.has-drop-cap:not(:focus):first-letter {
	font-size: 4em;
	margin-top: 0.2em;
	margin-right: .2em;
}
@media(min-width: 960px) {
	.wp-block-cover.custom-cover-block {
		min-height: 640px;
		margin-top: 3em;
		margin-bottom: 3em;
	}
}
.wp-block-columns.has-2-columns.col-6-4 .wp-block-column:first-child {
	@include flex-basis(61%);
}
.lastudio-posts__inner-content .entry-excerpt p {
	margin-bottom: 0;
}
.wp-block-latest-posts.is-grid {
	margin-left: 0;
}
.wp-block-gallery {
	display: flex;
	margin-bottom: 20px;
}
.wp-block-cover .wp-block-cover__inner-container {
	line-height: normal;
}
.wp-block-pullquote p {
	margin: 0;
}
.wp-block-pullquote blockquote {
	border-left-width: 0;
	margin-bottom: 0;
}
.page-links .post-page-numbers {
	width: 30px;
	display: inline-block;
	text-align: center;
	background-color: #f9f9f9;
}
.page-links .post-page-numbers:hover,
.page-links span.post-page-numbers {
	background-color: #1d1d1d;
	color: #fff;
}
ul.list-unstyled {
	list-style: none;
	margin: 0;
}
article.not-found-search {
	font-size: 16px;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	min-height: 40vh;
	margin-top: 5vh;
}
article.not-found-search .entry.not-found-search {
	margin-bottom: 20px;
}
table.shop_table {
	border: none;
}
table.shop_table th,
table.shop_table td {
	border-right: 0;
}
.wp-block-spacer {
	clear: both;
}
ul.wp-block-gallery li.blocks-gallery-item {
	margin-bottom: 16px;
}
.wp-block-cover,
.wp-block-cover-image {
	margin: 0 0 1.25em;
	color: #f8f9f9;
}
.wp-block-archives.wp-block-archives-dropdown {
	display: inline-block;
	margin-bottom: 1em;
}
ol.wp-block-latest-comments,
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-latest-comments__comment {
	line-height: normal;
}
.wp-block-latest-posts.wp-block-latest-posts__list li {
	margin-bottom: 1em !important;
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.wp-block-button .wp-block-button__link {
	font-size: 1em;
}
.wp-block-button__link:hover {
	background-color: var(--theme-primary-color);
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	border-color: var(--theme-primary-color);
	color: var(--theme-primary-color);
}
.site-no-sidebar{
	&:not(.elementor-page){
		&:not(.woocommerce-page){
			.comments-area,
			.page-content {
				width: 800px;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

@media (min-width: 960px) {
	.alignwide{
		width: auto;
		max-width: 1170px;
	}
	.alignfull:not(.wp-block-pullquote) {
		margin-left: calc(-1*(100vw - 100% - var(--scrollbar-width-o))/2);
		margin-right: calc(-1*(100vw - 100% - var(--scrollbar-width-o))/2);
		width: auto;
		max-width: calc(100vw - var(--scrollbar-width-o));
	}
	.site-no-sidebar {
		&:not(.elementor-page) {
			&:not(.woocommerce-page) {
				.alignwide{
					margin-left: -185px;
					margin-right: -185px;
				}
			}
		}
	}
}

.elementor-lakit-post-content{
	.elementor-widget-container{
		> h3 {
			margin-bottom: 20px;
		}
		> p + h3{
			margin-top: 30px;
		}
		>figure.wp-block-image {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
}

.site-header--default .site-branding img {
	width: 102px;
}
@media (min-width: 1025px) {
	.site-header--default .site-nav-toggleicon{
		display: none;
	}
	.site-header--default .site-navigation ul ul {
		position: absolute;
		width: 220px;
		left: 0;
		top: 100%;
		box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .1);
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all .3s;
		padding: 10px;
		background-color: #fff;
		z-index: 2;
	}
	.site-header--default .site-navigation ul li:hover > ul {
		opacity: 1;
		visibility: inherit;
		transform: translateY(0);
	}
	.site-header--default .site-navigation li {
		position: relative;
	}
	.site-header--default .site-navigation ul a {
		padding: 10px 20px;
		display: block;
	}
	.site-header--default .site-navigation ul ul a {
		padding: 5px 10px;
	}
	.site-header--default .site-navigation ul ul ul {
		left: 100%;
		top: 0;
	}
	.site-header--default .site-navigation ul ul ul ul ul {
		left: auto;
		right: 100%;
	}
}
@media (max-width: 1024px) {
	.site-header--default .site-nav-toggleicon {
		border: none;
		padding: 0;
		font-size: 26px;
		background: none;
	}
	.site-header--default .site-navigation {
		margin-left: auto;
		flex: 0 0 auto;
	}
	.site-header--default .container {
		height: 100px;
	}
	body .site-header--default .site-nav-toggleicon + * {
		position: absolute;
		width: 100%;
		right: 0;
		background-color: #fff;
		margin: 0;
		padding: 20px;
		list-style: none;
		flex-flow: column wrap;
		font-size: 14px;
		z-index: 9;
		display: none !important;
		max-height: calc(100vh - 100px - var(--adminbar-height));
		overflow: auto;
		top: 100%;
	}
	.open-site-nav-default .site-header--default .site-nav-toggleicon + * {
		display: block !important;
	}
	.site-header--default .site-navigation div.menu > ul {
		flex-direction: column;
	}
	body .site-header--default .site-navigation ul a {
		padding: 5px;
		display: block;
	}
	body .site-header--default .site-navigation ul ul ul ul {
		padding-left: 0;
	}
	body .site-header--default .site-navigation ul ul {
		padding-left: 20px;
	}
	.open-site-nav-default button.site-nav-toggleicon i:before {
		content: '\ea3a';
	}
	header#site-header.site-header--default {
		position: sticky;
		top: var(--adminbar-height);
		background: #fff;
		z-index: 9;
	}
	html.open-site-nav-default {
		overflow: hidden;
	}
	.open-site-nav-default .site-footer,
	.open-site-nav-default .site-main{
		opacity:0;
	}
}
@media (max-width: 782px) and (min-width: 600px){
	.admin-bar header#site-header.site-header--default {
		top: 46px;
	}
}
@media (max-width: 782px){
	body.admin-bar .site-header--default .site-nav-toggleicon + * {
		max-height: calc(100vh - 100px - 46px);
	}
}