.woocommerce-product-gallery__actions {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 15px;
  @include display();
  @include flex-direction(column);
  a {
    background: #fff;
    color: $secondary-color;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    border-radius: 50%;
    display: block;
    margin: 5px;
    order: 2;
    transition: all .3s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    span{
      display: inline-block;
      pointer-events: none;
      i{
        pointer-events: none;
        vertical-align: baseline;
      }
    }
    &.video-link-popup{
      font-size: 20px;
      order: 1;
    }
    &:hover{
      background-color: $secondary-color;
      color: #fff;
    }
  }
  .rtl & {
    right: auto;
    left: 20px;
  }
}
.flex-control-thumbs::-webkit-scrollbar {
  display: none;
}
.flex-control-thumbs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.flex-control-thumbs[style*="grabbing"] img {
  cursor: inherit !important;
}
.woocommerce-product-gallery-outer{
  --singleproduct-thumbs-width: 20%;
  --singleproduct-thumbs-height: 400px;
  --singleproduct-image-column: 3;
  --singleproduct-image-height: 140%;
  --singleproduct-image-height2: 100%;
  --singleproduct-image-spacing: 10px;
  --singleproduct-thumb-spacing: 10px;
  .woocommerce-product-gallery{
    position: relative;
  }
  .woocommerce-product-gallery__image > img.zoomImg {
    display: none !important;
  }
  &.layout-type-1{
    .center-thumb{
      .flex-control-thumbs {
        justify-content: center;
      }
    }
    .woocommerce-product-gallery{
      .flex-control-thumbs{
        display: flex;
        overflow: auto;
        flex-flow: inherit;
      }
    }
    .flex-control-thumbs {
      margin-left: calc(-1 * var(--singleproduct-thumb-spacing) / 2);
      margin-right: calc(-1 * var(--singleproduct-thumb-spacing) / 2);
      margin-top: var(--singleproduct-image-spacing);
      li {
        padding-left: calc(var(--singleproduct-thumb-spacing) / 2);
        padding-right: calc(var(--singleproduct-thumb-spacing) / 2);
        width: calc(100% / var(--singleproduct-image-column));
        flex: 0 0 calc(100% / var(--singleproduct-image-column));
      }
    }
  }
  &.layout-type-3,
  &.layout-type-2{
    .woocommerce-product-gallery{
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      position: relative;
    }
    .flex-control-thumbs{
      overflow: auto;
      flex-flow: inherit;
      width: var(--singleproduct-thumbs-width) !important;
      height: var(--singleproduct-thumbs-height);
      margin: 0 !important;
      align-content: flex-start;
      li{
        padding:0 0 var(--singleproduct-thumb-spacing) !important;
        width: 100%;
        flex: 0 0 100%;
      }
    }
    .flex-viewport{
      width: calc(100% - var(--singleproduct-thumbs-width) - var(--singleproduct-image-spacing));
    }
  }
  &.layout-type-3{
    .woocommerce-product-gallery{
      flex-flow: row wrap;
    }
  }
  &.layout-type-4{
    .flex-viewport{
      padding-right: calc((100% * (var(--singleproduct-image-column) - 1) / var(--singleproduct-image-column)) - (var(--singleproduct-image-spacing) / var(--singleproduct-image-column)));
      .zoominner {
        margin-right: calc(var(--singleproduct-image-spacing));
      }
    }
    .flex-control-thumbs {
      display: none;
    }
  }
  &.layout-type-5{
    .woocommerce-product-gallery__wrapper {
      display: flex;
      flex-flow: row wrap;
      margin-left: calc(-1 * var(--singleproduct-image-spacing) / 2);
      margin-right: calc(-1 * var(--singleproduct-image-spacing) / 2);
      .woocommerce-product-gallery__image{
        width: calc(50% - var(--singleproduct-image-spacing));
        margin: calc(var(--singleproduct-image-spacing) / 2);
        a{
          padding-bottom: var(--singleproduct-image-height);
          img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        &:first-child{
          margin-top: 0;
        }
        &:nth-child(3n+1){
          width: 100%;
          a{
            padding-bottom: var(--singleproduct-image-height2);
          }
        }
      }
    }
  }
  &.layout-type-6{
    .woocommerce-product-gallery__image {
      margin-bottom: var(--singleproduct-image-spacing);
    }
  }
}


@media(max-width: 992px){
  .wc-page-content>div.product .product--inner{
    flex-direction: column;
  }
  .wc-page-content>div.product .entry-summary,
  .wc-page-content>div.product .woocommerce-product-gallery-outer{
    width: 100%;
  }
}

.cart {
  .wrap-cart-cta {
    .quantity{
      margin-right: 10px;
    }
    display: flex;
    margin-bottom: 1em;
    .button {
      padding: 22px 50px;
      @media(min-width: 1400px){
        font-size: 1em;
      }
    }
  }
  .add_wishlist,
  .add_compare{
    background: none;
    color: $body-font-color;
    padding: 0;
    margin: 0 2em .5em 0;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    &:hover{
      color: $primary-color;
    }
    .labtn-icon{
      margin-right: .3em;
      font-size: 1.2em;
    }
  }
  .add_wishlist{
    .labtn-icon{
      font-size: 1em;
    }
  }
}

/**
Quick View
**/

.pswp__caption {
  display: none;
}

.woocommerce-product-gallery{
  .la_woo_loading {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 9;
    transform: translateX(-50%);
  }
  &.swatch-loaded{
    .la_woo_loading{
      display: none;
    }
  }
}

.variations .label .swatch-label {
  display: none;
}

.tab-content{
  .shop_attributes {
    max-width: 100%;
  }
}
.single-price-wrapper p.price:not(:only-child) {
  display: none;
}
.prod-countdown-timer{
  .lastudio-countdown-timer {
    @include justify-content(flex-start);
    font-family: $three-font-family;
    color: $secondary-color;
    font-style: italic;
    padding-bottom: 15px;
  }
  .lastudio-countdown-timer__item {
    background: #fff;
    box-shadow: 0 0 22px 0 rgba(0,0,0,0.10);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 20px 20px 0;
  }
  .lastudio-countdown-timer__item-value{
    font-size: 36px;
    line-height: 1;
  }
}


@media(max-width: 1500px){
  .prod-countdown-timer .lastudio-countdown-timer__item {
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .prod-countdown-timer .lastudio-countdown-timer__item-value {
    font-size: 26px;
  }

}

@media(max-width: $screen-xs-max){
  .prod-countdown-timer .lastudio-countdown-timer__item {
    margin: 0 10px 10px 0;
    &:last-child{
      margin-right: 0;
    }
  }
}

.summary-inner .elementor-lastudio-countdown-timer ,
.summary-inner .product_item--deals-info {
  display: none;
}


.lakit-product-tabs{
  &.layout-type-default{
      .wc-tabs{
        li{
          position: relative;
          a{
            &:after{
              content: '';
              border-bottom: 2px solid $primary-color;
              position: absolute;
              width: 0;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              transition: all .3s;
            }
          }
          &.active,
          &:hover{
            a{
              &:after{
                width: 70px;
              }
            }
          }
        }
      }
  }
}

.wrap-cart-cta .quantity,
.lastudio-kit.elementor-lakit-wooproduct-addtocart .quantity {
  display: flex;
  justify-content: center;
  border-radius: 30px;
}
.cart .wrap-cart-cta .button {
  border-radius: 30px;
  text-transform: uppercase;
}
.woocommerce div.product.elementor .lastudio-kit .quantity + .button{
  margin-left: 0;
}
.featherlight-outer .wc-page-content .entry-summary .cart .wrap-cart-cta {
  display: inline-flex;
}
@media(min-width: 1200px){
  .cart .wrap-cart-cta{
    display: inline-flex;
    margin-right: 30px;
  }
  .cart .add_wishlist,
  .cart .add_compare{
    .labtn-icon{
      font-size: 20px;
    }
    .labtn-text{
      display: none;
    }
  }
}