.lastudio-kit ul.products.lakit-products__list li{
	padding-top: 0;
	padding-bottom: 0;
}
.woocommerce-loop-category__title{
	mark{
		background: none;
		color: inherit;
	}
}
.wc-page-content{
	ul.products{
		--theme-product-item-gap: 30px;
		--theme-product-col: 3;
		@media(max-width: 1280px){
			--theme-product-col: 2;
		}
		@media(max-width: 767px){
			--theme-product-col: 1;
		}
		.site-no-sidebar & {
			--theme-product-col: 4;
			@media(max-width: 1280px){
				--theme-product-col: 3;
			}
			@media(max-width: 880px){
				--theme-product-col: 2;
			}
			@media(max-width: 767px){
				--theme-product-col: 1;
			}
		}
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(var(--theme-product-item-gap) * -.5);
		margin-left: calc(var(--theme-product-item-gap) * -.5);
		list-style: none;
		margin-bottom: 2em;
		> li{
			flex-shrink: 0;
			width: 100%;
			max-width: 100%;
			padding-right: calc(var(--theme-product-item-gap) * .5);
			padding-left: calc(var(--theme-product-item-gap) * .5);
		}
		> li{
			flex: 1 0 calc(100%/var(--theme-product-col));
			max-width: calc(100%/var(--theme-product-col));
			margin-bottom: 30px;
			position: relative;
		}
		a{
			text-align: center;
			position: relative;
			display: block;
		}
		img{
			width: 100%;
			margin-bottom: 1em;
			transition: all .5s;
		}
		h2{
			font-size: 18px;
			margin-bottom: 5px;
		}
		.price{
			font-family: $heading-font-family;
		}
		.added_to_cart,
		.button{
			position: absolute;
			top: 66%;
			left: 50%;
			transform: translateX(-50%);
			font-weight: normal;
			padding: 15px 20px;
			opacity: 0;
			visibility: hidden;
			margin-top: -20px;
			background-color: $secondary-color;
			color: #fff;
			font-size: 14px;
			line-height: 1;
			&:hover{
				background-color: $primary-color;
			}
			.labtn-icon{
				display: none;
			}
		}
		.add_to_cart_button{
			&.added{
				display: none;
			}
		}
		figure {
			position: relative;
		}
		li:hover{
			figure {
				background: #000;
			}
			img{
				opacity: .8;
			}
			.added_to_cart,
			.button{
				opacity: 1;
				margin-top: 0;
				visibility: inherit;
			}
		}
	}
}

.wc-view-toggle {
	display: none;
}

.labtn-icon {
	@include lastudio-icon()
}

.labtn-icon-quickview {
	&:before {
		content: '\ea49';
	}
}

.labtn-icon-wishlist {
	&:before {
		content: "\ea2b";
		bottom: -1px;
		position: relative;
		.added & {
			content: "\ea09";
		}
	}
}

.labtn-icon-compare {
	&:before {
		content: '\ea03';
	}
}

.labtn-icon-cart {
	&:before {
		content: "\ea2c";
	}
}

.product_item--category-link {
	font-size: .875em;
	line-height: normal;
	margin-bottom: 5px;
	color: $primary-color;
	display: none;
	a{
		+ a{
			&:before{
				content: ', ';
			}
		}
		&:not(:first-child){
			display: none;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}

.product_item--info .star-rating {
	margin-bottom: 10px;
}

.product_item{
	.item--overlay{
		background-color: $secondary-color;
		z-index: 2;
	}
	.product_item--thumbnail{
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	.product_item--thumbnail-holder{
		text-align: center;
		a{
			display: block;
			margin: 0 auto;
			position: relative;
			img{
				width: 100%;
				display: block;
			}
		}
	}
	.product_item--info{
		position: relative;
		z-index: 2;
		padding-top: .875em;
		padding-bottom: .875em;
	}
	.item--excerpt,
	.added_to_cart,
	&.prod-rating-off .product_item--rating,
	.product_item--rating ~ .product_item--rating{
		display: none;
	}
	.price{
		line-height: 1.4;
		display: block;
		font-size: 1em;
		del {
			font-weight: normal;
			opacity: .5;
			color: $body-font-color;
			font-size: .875em;
		}
	}
	.reset_variations,
	.single_variation_wrap {
		display: none !important;
	}
	.variations_form{
		tbody,
		table,
		tr,
		td{
			border: none;
			padding: 0;
			margin: 0;
			display: block;
			width: 100%;
		}
		.swatch-label,
		td.label{
			display: none;
		}
	}
	.swatch-wrapper{
		.swatch-anchor {
			width: 15px !important;
			height: 15px !important;
		}
		&.swatch-only-label{
			box-shadow: none !important;
			.swatch-anchor {
				min-width: 0 !important;
				min-height: 0 !important;
				line-height: 15px !important;
				width: auto !important;
			}
		}
		&:nth-of-type(4){
			~ .swatch-wrapper {
				display: none;
			}
		}
		&:nth-of-type(5){
			~ .swatch-wrapper-more{
				display: inline-block;
			}
		}
	}
	.product_item--inner {
		transition: all .3s;
	}
}

.products-list{
	.product_item--info-action{
		.button{
			line-height: 24px;
			text-transform: uppercase;
			border: none;
			vertical-align: middle;
			padding: 0;
			&.quickview{
				display:none;
			}
		}
		.labtn-icon-cart{
			display: none;
		}
		.la-addcart{
			margin-right:15px;
			background-color: $secondary-color;
			height: 50px;
			line-height: 50px;
			padding: 0 30px;
			font-size: 14px;
			&:hover{
				background-color: $primary-color;
				color:#fff;
			}
		}
		.add_compare,
		.add_wishlist{
			width: 40px;
			background: none;
			color: $secondary-color;
			font-size: 18px;
			.labtn-text{
				display: none;
			}
			&:hover{
				color: $primary-color;
			}
		}
	}
	.product_item{
		width: 100%;
		padding-bottom: 40px;
		.product_item--thumbnail {
			float: left;
			width: 32%;
			.button:not(.quickview){
				display:none;
			}
			.quickview{
				background-color: #fff;
				color: $secondary-color;
				border-radius: 50%;
				padding: 0;
				position: absolute;
				opacity: 0;
				top: 50%;
				left: 50%;
				margin-top: -25px;
				margin-left: -25px;
				@include translate2d(0, 40px);
				z-index: 3;
				&:hover{
					background-color: $primary-color;
					color: #fff;
				}
				.labtn-icon{
					width: 50px;
					height: 50px;
					line-height: 50px;
					display: inline-block;
					font-size: 20px;
				}
				.labtn-text{
					font-weight: normal;
					position: absolute;
					padding: 5px 12px;
					z-index: 3;
					opacity: 0;
					transition: opacity .2s, margin .3s;
					white-space: pre;
					font-size: 12px;
					font-family: sans-serif;
					@include translateX(-50%);
					left: 50%;
					line-height: 14px;
					top: -30px;
					margin-top: -12px;
					background-color: #fff;
					color: $secondary-color;
					&:after{
						content: "";
						position: absolute;
						bottom: -5px;
						left: 50%;
						@include translateX(-50%);
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid #fff;
						opacity: .9;
					}

				}
				&:hover{
					.labtn-text{
						visibility: inherit;
						opacity: 1;
						margin-top: -5px;
					}
				}
			}
		}
		.product_item--info {
			padding-left: 50px;
			float: left;
			width: 68%;
			padding-top: 0;
		}
		.product_item--rating{
			margin-top: -5px;
		}
		.item--excerpt{
			display: block;
			margin-bottom: 20px;
			font-size: .875em;
		}
		form.variations_form {
			margin-bottom: 1em;
		}
		.product_item--title{
			font-size: 1.125em;
			margin-bottom: 15px;
		}
		.price{
			margin-bottom:15px;
			font-size: 1.125em;
		}
		.la-swatch-control {
			margin-bottom: 20px;
		}
		&:hover{
			.product_item--thumbnail{
				.quickview{
					opacity:1;
					@include translate2d(0,0);
				}
			}
			.item--overlay{
				opacity:.5;
			}
		}

	}
}

.products-grid{
	li.product_item{
		.product_item--action{
			&:hover{
				.button{
					transition-delay: 0s;
				}
			}
		}
	}
	.wrap-addto{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.button{
		vertical-align: middle;
		width: 2.75em;
		height: 2.75em;
		padding: 0;
		line-height: 2.75em;
		font-size: 16px;
		position: relative;
		opacity: 0;
		background-color: #fff;
		color: $secondary-color;
		margin: 5px;
		@include translate2d(0, 40px);
		@include transition-delay(100ms);
		+ .button{
			@include transition-delay(150ms);
			+ .button{
				@include transition-delay(200ms);
			}
		}
		.labtn-icon{
			display: block;
		}
		.labtn-text{
			font-weight: normal;
			position: absolute;
			padding: 5px 12px;
			z-index: 3;
			opacity: 0;
			white-space: pre;
			font-size: 12px;
			font-family: sans-serif;
			bottom: 100%;
			line-height: 14px;
			left: 50%;
			background-color: #333;
			color: #fff;
			text-transform:none;
			border-radius: 2px;
			@include transition(opacity .2s, margin .3s);
			@include translateX(-50%);
			pointer-events: none;
			&:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 50%;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #333;
				opacity: .9;
				@include translateX(-50%);
			}
		}
		&.added{
			color: $primary-color;
		}
		&:hover{
			color: #fff;
			background-color: $primary-color;
			.labtn-text{
				visibility: inherit;
				opacity: 1;
				margin-bottom: 10px;
			}
		}
	}

	.product_item--title{
		margin-bottom: 5px;
		font-size: 1.125em;
		line-height: 1.4;
	}
	.product_item--info {
		text-align: center;
		.la-swatch-control {
			line-height: 0;
		}
	}
	.product_item_thumbnail_action{
		.wrap-addto{
			position: absolute;
			bottom: calc( 50% - 25px);
			z-index: 2;
			width: 100%;
			left: 0;
			text-align: center;
		}
	}
	.product_item--info-action{
		display: none;
	}
	.product_item--inner{
		&:hover{
			.button {
				opacity: 1;
				@include translate2d(0,0);
			}
			.item--overlay{
				opacity: 0;
			}
		}
	}
}

/*
  $PRESET_PRODUCT_GRID_01
*/
.products-grid-1{
	.product_item_thumbnail_action .wrap-addto{
		bottom: 25px;
	}
	.product_item--thumbnail {
		border: .5px solid $border-color;
	}
	.wrap-addto{
		.button{
			box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.5);
		}
	}
}

/*
  $PRESET_PRODUCT_GRID_02
*/
.products-grid-2{
	.product_item--inner{
		&:hover{
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
		}
	}
}
/*
  $PRESET_PRODUCT_GRID_03
*/
.products-grid-3{
	.product_item--inner{
		position: relative;
		border-radius: 36px;
		overflow: hidden;
		&:hover{
			.product_item--info{
				bottom: 0;
				opacity: 1;
			}
		}
	}
	.product_item--info{
		position: absolute;
		bottom: -100px;
		width: 100%;
		padding: 20px 30px 25px;
		background-color: rgba(#fff,70%);
		display: flex;
		align-items: center;
		transition: all .3s;
		opacity: 0;
		text-align: inherit;
	}
	.product_item--info-inner {
		flex-grow: 3;
	}
	.wrap-addto{
		a{
			border-radius: 50%;
		}
	}
	.product_item_thumbnail_action{
		.la-addcart{
			display: none;
		}
	}
	.product_item--info-action{
		display: block;
		margin-left: 10px;
		margin-right: -10px;
		a{
			transform: none;
			opacity: 1;
			margin: 0;
			background-color: $primary-color;
			color: #fff;
			&:hover{
				background-color: $secondary-color;
			}
		}
		a:not(.la-addcart){
			display: none;
		}
	}
}

/*
  $PRESET_PRODUCT_GRID_04
*/
.products-grid-4{
	.product_item--inner{
		padding: 20px;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
		}
	}
}

/*
  $PRESET_PRODUCT_GRID_05
*/
.products-grid-5{
	.product_item--inner {
		border: .5px solid $border-color;
		display: flex;
		flex-direction: column;
	}

	.product_item--info{
		flex-grow: 1;
	}
	.product_item_thumbnail_action{
		display: none;
	}
	.wrap-addto{
		.button{
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
		}
	}
	.product_item--info-action{
		display: block;
		position: absolute;
		width: 100%;
		top: calc(100% - 25px);
		left: 0;
	}
}

/*
  $PRESET_PRODUCT_GRID_06
*/
.products-grid-6{
	.wrap-addto{
		.button{
			border-radius: 50%;
			box-shadow: 0 0 2px 0 #fff;
			background-color: transparent;
			color: #fff;
			&:hover{
				background-color: $primary-color;
			}
		}
	}
}

/*
  $PRESET_PRODUCT_GRID_07
*/
.products-grid-7{
	.product_item--inner {
		border: .5px solid $border-color;
		display: flex;
		flex-direction: column;
	}
	.product_item--info{
		flex-grow: 1;
	}
	.product_item--title{
		a{
			&:after{
				content: '';
				position: absolute;
				bottom: 10px;
				right: 15px;
				font-size: 30px;
				line-height: 15px;
				color: $primary-color;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='16' viewBox='0 0 44 16' fill='none'%3E%3Cpath d='M43.7071 8.70711C44.0976 8.31658 44.0976 7.68342 43.7071 7.29289L37.3431 0.928932C36.9526 0.538408 36.3195 0.538408 35.9289 0.928932C35.5384 1.31946 35.5384 1.95262 35.9289 2.34315L41.5858 8L35.9289 13.6569C35.5384 14.0474 35.5384 14.6805 35.9289 15.0711C36.3195 15.4616 36.9526 15.4616 37.3431 15.0711L43.7071 8.70711ZM0 9H43V7H0V9Z' fill='%23BC8157'/%3E%3C/svg%3E");
				background-size: contain;
				width: 40px;
				height: 15px;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}
/*
  $PRESET_PRODUCT_GRID_08
*/
.products-grid-8{
	.product_item_thumbnail_action{
		.la-addcart{
			display: none;
		}
	}
	.product_item--inner{
		border: .5px solid $border-color;
		.item--excerpt{
			display: block;
			margin-bottom: 20px;
		}
		.product_item--title{
			margin-bottom: 15px;
		}
		.star-rating{
			margin-bottom: 10px;
		}
		.price{
			margin-bottom: 20px;
		}
	}
	.product_item--info-action{
		display: block;
		a{
			transform: none;
			opacity: 1;
			margin: 0;
			background-color: $secondary-color;
			width: auto;
			height: auto;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			padding: 12px 22px;
			font-weight: bold;
			line-height: 20px;
			&:hover{
				background-color: $primary-color;
			}
		}
		a:not(.la-addcart){
			display: none;
		}
		.labtn-icon{
			display: none;
		}
		.labtn-text{
			position: static;
			transform: none;
			transition: none;
			background: none;
			font: inherit;
			white-space: normal;
			padding: 0;
			color: inherit;
			opacity: 1;
			text-transform: inherit;
			&:after{
				display: none;
			}
		}
	}
}


/*
  $PRESET_PRODUCT_LIST_MINI
*/
.lakit-products__list.products-list-mini{
	.product_item--info-action{
		display: none;
	}
	.product_item{
		.product_item--thumbnail{
			width: 40%;
		}
		.product_item--info{
			width: 60%;
			padding-left: 30px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.product_item--info-inner{
		display: flex;
		flex-direction: column;
	}
	.price,
	.product_item--title{
		order: 1;
		font-family: inherit;
		margin-bottom: 10px;
	}
	.star-rating{
		order: 2;
		margin-bottom: 20px;
	}
	.item--excerpt{
		order: 3;
		margin: 0;
	}
}


.product_item{
	.item--overlay {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .3s;
	}
	.product_item--inner:hover{
		.item--overlay {
			opacity: 0;
			visibility: inherit;
			.products-grid-6 & {
				opacity: .9;
			}
		}
	}
}